<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single | book</title>
</head>
<body>
    <div class="container">
        <div class="liste_book">
            <mat-card-title>
                borrow book list
            </mat-card-title>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">                    
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary"> put back </button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">                    
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">                    
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">                    
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">                    
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">  
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">  
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
            <div class="book_content">
                <div class="book_image">
                    <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
                </div>
                <div class="description">  
                        <div class="btn">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <button mat-raised-button color="primary">put back</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="single_book">
            <div class="up">
                <img src="../../../../assets/images/hary_poter.jpeg" alt="hary_poter">
            </div>
            <div class="down">
                <mat-card-title>
                    <h1>Titre: hary_poter</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <span>Resumer:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Tenetur at maiores soluta eveniet atque voluptatem provident accusamus velit fuga commodi a dicta,
                     iste consectetur perspiciatis quis labore reprehenderit dolorem itaque vel molestias ab! Voluptatibus
                    placeat earum nulla provident quam, doloremque ad tempora dolorem amet quis quisquam tempore deleniti
                    doloribus eum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, neque soluta culpa
                    eos rerum, voluptates ipsa veritatis dicta illum facere laboriosam iure natus a amet possimus minus
                    perspiciatis error modi autem delectus non quia architecto. Culpa nemo, numquam aspernatur,
                    iure aliquam omnis laborum ratione at impedit ut provident veritatis illum!
                </mat-card-subtitle>
                <div class="btn_footer">
                    <button mat-raised-button color="primary">borrow the book</button>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>