$bg_single: rgba(128, 128, 128, 0.518);
$bg-before: #93441a88;
$ob-bg: #03C03C;
.nav_barre{
    margin:  1rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 9vh;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.4);
    width: 83%;
    border-radius: 1rem;
    border-bottom: 2px solid $bg_single;
    .title{
        width: 20%;
    }
    .home{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2rem;
        svg{
            width: 30px;
            height: 30px;
        }
    }

    .book_number{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        mat-icon{
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    .liste_book{
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
        border-radius: 3rem;
        height: 95%;
        width: 40%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 4rem;
        gap: 2rem;
        padding: 1rem;
        overflow-x: hidden;
        mat-card-title{
            grid-column: 12 span;
            font-size: 1.5rem;
            text-align: center;
            height: max-content;
            margin-top: 1rem;
        }
        .book_content{
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
            border-radius: 1.5rem;
            grid-column: 3 span;
            grid-row: 3 span;
            padding: .2rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            .book_image{
                width: 100%;
                height: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 90%;
                    height: 90%;
                    border-radius: 1rem;
                }
            }
            .description{
                height: 30%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
               .btn{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                p{
                    font-size: .8rem;
                    width: 90%;
                    text-align: center;
                }
                button{
                    width: 90%;
                    background-color: $ob-bg;
                    border-radius: 1rem;
                    margin: 0 auto;
                }
               }
                
            }
        }
    }

    .single_book {
        width: 25%;
        height: 95%;
        border-radius: 2rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
        .down{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 2rem;
            mat-card-title{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                h1{
                    width: 100%;
                    text-align: left;
                    font-size: 1.2rem;
                }
            }
            .image_principale{
                width: 99%;
                height: 45%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .image1{
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                }
            }
            .btn_footer{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: 6vh;
                button{
                    width: 99%;
                    height: 100%;
                    background-color: $ob-bg;
                    font-weight: bolder;
                    border-radius: 1rem;
                }
            }
        }
    }
    
}
@media screen and (max-width:1023px) and (min-width: 950px) {
    .book_content{
        grid-column: 6 span !important;
    } 
    
}
@media all and (max-width:950px){
    .book_content{
        grid-column: 12 span !important;
    }
    .image1, .image3{
       display: none;
    }
    .container{
        height: 100%;
        position: absolute;
        max-width: 100%;
        overflow: hidden !important;
        display: block;
        .liste_book{
            overflow-y: scroll;
            transition: 500ms ease-in-out;
            position: absolute;
            width: 50%;
            margin-left: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            height: 90%;
            left: 100%; 
            border-radius: 0; 
            z-index:2;
            mat-card-title{ 
                grid-column: 6 span;
                text-align: center;
                align-self: center;
                color: white;
            }
            .book_content{
                grid-column: 6 span !important;
                grid-row: 1 span;
                height: 10vh;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .book_image{
                     display: none;
                }
                p{
                    color: white;
                    text-align: center;
                }
            }
            
        }
        .single_book{
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 0;
            .up{
                width: 100%;
                h1{
                    position: absolute;
                    width: 100%;
                    margin-top: -15rem;
                    margin-left: 1rem;
                    z-index: 3;
                    mat-icon{
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        background-color: gray;
                        box-shadow: 0 .5rem 1.5rem black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
                            display: block !important;
                        }

                    }
                    
                    svg{
                        height: 2rem;
                        width: 2rem;     
                    }
                }
            }
            .down{
                mat-card-title{
                margin-top: .2rem;
                font-size: 1rem;
                }
                
                .btn_footer{
                    height: max-content;
                }
            }
        }
    }
}
@media all and (max-width:400px) {
    .up{
        border-radius: 0 0 0 100% !important;
         h1{
            position: absolute;
            width: 100%;
            margin-top: -15rem !important;
            margin-left: 1rem;
         }
    }
    .down{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start !important;
        flex-direction: column;
        
        .btn_footer{
            height: max-content;
        }
        mat-card-subtitle{
            span{
                font-size: 1rem;
            }
            margin-bottom: 0;
            margin-top: 0;
            font-size: .9rem;
        }
        mat-card-title{
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
.clicked{
    left: 50%!important;
    background-color: #26344B; 
}