$bg-before: #93441a88;
$primary: #016568;
$bg:#029197;
$bg_White: #e5e6e0;
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: .5rem;
    background-color: $bg_White;
}
.head{
    margin-top: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_barre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.4);
    width: 97%;
    border-radius: 1rem;
    background-color: white;
    mat-icon{
        display: none;
    }

}
.title{
    width: 60%;
    padding-left:5rem;    font-size: 1.4rem;
    font-size: 1.4rem;
}
.search{
    box-shadow: 0 0 .4rem #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem;
    border-radius: .5rem;
    width: 10%;
    height: 50%;
    padding: .2rem;
input{
    border: none;
    border-radius: .5rem;
    outline: none;
    padding-left: 1rem;
    height: 100%;
    width: 100%;
    color: #636363;
    box-shadow: 0 0 .4rem #636363;
    font-size: 1rem;
}
}
.elt{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4rem;
    mat-card-title{
        svg{
            width: 2rem;
            height: 2rem;
        }
        
    }
    .image{
        img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        padding-right: 3rem;
    }
}
.container{
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.categorie {
    width: 25%;
    height: 86vh;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
}   
.list{
    width: 70%;
    height: 86vh;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
    background-color: white;
}   
.content{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.categorie{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $bg;
    align-items: flex-end;


    .up{
        width: 100%;
        height: 30%;
        background-color: White;
        border-radius: 1rem 1rem 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        mat-card-title{
            font-size: 2rem;
            font-weight: bolder;
        }   
    }
    .down{
        width: 100%;
        height: 70%;
        border-radius: 0 0 2rem 0;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr); 
        gap: 1rem;
        .cat1{
            // background-image: url('../../../../assets/images/categorie.jpeg') !important;
            background-image: url('https://images.unsplash.com/photo-1601315488950-3b5047998b38?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2NpZW5jZSUyMGZpY3Rpb258ZW58MHx8MHx8fDA%3D');
        }
       
        .cat2{
            background-image: url('https://images.unsplash.com/photo-1578374173713-32f6ae6f3971?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2NpZW5jZSUyMGZpY3Rpb258ZW58MHx8MHx8fDA%3D');
        }
        .cat3{
            background-image: url('https://plus.unsplash.com/premium_photo-1682308191763-2813d4a2e746?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZmFudGFzeXxlbnwwfHwwfHx8MA%3D%3D');
        }
        .cat4{
            background-image: url('https://plus.unsplash.com/premium_photo-1678230042085-826c5e8e140a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGlzdG9yaXF1ZXxlbnwwfHwwfHx8MA%3D%3D');
        }
        .cat5{
            background-image: url('https://images.unsplash.com/photo-1533271802434-53997a5f9e6c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG9lc2llfGVufDB8fDB8fHww');
        }
         .cat6{
            background-image: url('../../../../assets/images/biography.jpeg') !important;
        }
        .cat7{
            background-image: url('https://media.istockphoto.com/id/1459276800/fr/photo/couple-regardant-le-coucher-du-soleil-%C3%A0-la-piscine-%C3%A0-d%C3%A9bordement-sainte-lucie-couple-en.webp?b=1&s=170667a&w=0&k=20&c=mq3jXDVFkcebpXv23-aqpCYxff-pLWSmPbwSodkLqtg=');
        }
        .cat8{
            background-image: url('https://images.unsplash.com/photo-1620336655052-b57986f5a26a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGJhbmRlJTIwZGVzc2luZXxlbnwwfHwwfHx8MA%3D%3D');
        }

        .cat{
            grid-column: 6 span;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            cursor: pointer;
            .title_categorie{
                font-size: 1.4rem;
                width: 100%;
                height: 50%;
                background-color: #272727b2;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .5rem;
            }
        }     
    }
}
.list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3rem;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;

    .title_liste{
        grid-column: 12 span;
        text-align: center;
        position: relative;
        display: inline-block;
        margin: 0;
        align-self: center;
        height: max-content;
        text-align: center;
    }
    .book_content{
        grid-column: 6 span;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 35vh;
        gap: 2rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
        padding: 1rem;
        border-radius: .5rem;
        left: 0;
        right: 0;
        color: #272727;
    }
    .description {
        grid-column: 7 span;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        mat-card-title{
            font-size: 1.5rem;
            font-weight: bolder;
            text-align: left;
        }
        .btn{
            width: 100%;
            button{
                width: 50%;
                background-color: $bg;
                color: white;
                font-weight: bold;
            }
        }
    }
    .book_image {
        grid-column: 5 span;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
       
    }
}

@media all and (max-width:1023px) and (min-width:600px) {
    .categorie{
        .up{
            mat-card-title{
                font-size: 1.5rem;
            }
        }
       .down{
        gap: .5rem;
        padding: .5rem;
        overflow-y: scroll;
        .cat{
            grid-column: 12 span;
            height: 10vw;
            .title_categorie{
                font-size: .9rem;
               }
            
        }   
       }
    }
    .list{
        overflow-x: hidden;
        .book_content{
            grid-column: 12 span;
        }
    }
    .nav_barre{
        .title{
            width: 30%;
            padding-left: 2rem;
        }
        .search{
            width: 30%;
        }
        .elt{
            width: 40%;
        }
    }
}
@media all and (max-width:599px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .categorie{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 30vh;
            .up{
                display: none;
                
            }
            .down{
                height: 100%;
                .cat{
                   grid-column: 4 span;
                   .title_categorie{
                    font-size: .9rem;
                   }
                    
                }  
            }
        }
       
        .list{
            overflow-x: hidden;
            width: 100%;
            margin-top: 1rem;
            .book_content{
                grid-column: 12 span;
                .description{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // flex-direction: column;
                    mat-card-title{
                        font-size: 1rem;
                    }
                    mat-card-subtitle{
                        width: 85%;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
   
    .nav_barre{
        svg{
            width: 2rem;
            height: 2rem;
        }
        .title{
            width: 30%;
            padding-left: 2rem;
        }
        .search{
            width: 30%;
        }
        .elt{
            display: none;
        }
        mat-icon{
            display: block;
        }
        button{
            img{
                border-radius: 50% !important;
                width: 2rem !important;
                height: 2rem !important;
            }
        }
        
    }
} 