<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
  <div class="container">
      <div class="content" [formGroup]="SignupForm">
        <mat-card class="left">
            <mat-card-title>
                Sign Up to Bookstore
            </mat-card-title>
            <mat-form-field appearance="outline">
                <mat-label>FirstName</mat-label>
                <input matInput placeholder="Enter your LastName"type="text" formControlName="firstName">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>LastName</mat-label>
                <input matInput placeholder="Enter your LastName" type="text" formControlName="lastName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput type="text" placeholder="Enter your UserName" formControlName="userName">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your LastName"type="Email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>choose your level</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="admin"> Admin </mat-option>
                    <mat-option value="reader"> Reader </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                    <mat-label>Password </mat-label>
                    <input matInput placeholder="Enter your Password" type="password" formControlName="password">
            </mat-form-field>

            <div class="btn">
                <button mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button>
            </div>

        </mat-card>
        <mat-card class="right">
            <div class="span">
                <p>Bookstore</p>
            </div>
        </mat-card>
      </div>
  </div>
</body>
</html>