<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <div class="container">
        <mat-form-field class="left">
            <mat-form-field appearance="fill">
                <mat-label>Firstname</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Lastname</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text">
            </mat-form-field> -->

        </mat-form-field>

        <mat-form-field class="left">
                
        </mat-form-field>
        <span class="style">

        </span>
        <mat-form-field class="right">

        </mat-form-field>
    </div>
</body>
</html>
<!-- email
userName
firstName
lastName
password
role   -->