$bg-before: #93441a88;
$primary: #016568;
$bg:#029197;
$bg_White: #e5e6e0;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Gemstones&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    background-color: $bg;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    .cotent1{
        grid-column: 1/13;
        grid-row: 2/13;
        display: flex;
        align-items: center;
        justify-content: center;
        .side_barre{
            width: 5%;
            height: 100%;
            background-color: $bg_White;
            .content_side_barre{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                height: 40%;
                width: 100%;
                .style{
                    background-color: $bg !important;
                    svg{
                        fill: $bg_White;

                    }
                }
                .emprunt{
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: #2727277a;
                    position: relative;
                    cursor: pointer;
                    &::before{
                        z-index: -1 !important;
                        position: absolute !important;
                        content: '';
                        width: 0;
                        height: 0;
                        background-color: $bg !important;
                        border-radius: 50%;
                        transition: 300ms;
                    }
                    &:hover::before{
                        width: 50px;
                        height: 50px;
                    }
                    svg{
                        width: 26px;
                        height: 26px;
                        z-index: 2;
                    }
                }
            }
        }
        .demande{
            position: relative;
            width: 95%;
            height: 100%;
            background-color: rgba(128, 128, 128, 0.346);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-x: hidden !important;
            overflow-y: hidden !important;
            .allUser, .book_delete, .book_notification{
                position: absolute;
                transform: translateX(150%);
                width: 95%;
                height: 90%;
                margin: 0 auto;
                background-color: $bg_White;
            }
            .demande_borrowed{ 
                box-shadow:  0 0 2rem $bg-before !important;
                width: 95%;
                height: 90%;
                margin: 0 auto;
                background-color:$bg_White;
            }
        }
    }
    .headers{
        grid-column: 1/13;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg_White;
        border-bottom: 2px solid  #029197;
        .sous_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $bg_White;
            width: 90%;
            .header_title{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.7rem;
                padding-left: 2rem;
                font-family: "Rubik Gemstones", system-ui;
                svg{
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                }

            }
            .pdp_admin{
                padding-right: 4rem;
                svg{
                    width: 26px;
                    height: 26px;
                    fill: #272727;
                }
            }
        }
        .menu_list{
            width: 5%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 26px;
                height: 26px;
                fill: #272727;
                cursor: pointer;
            }
        }
    }
}
.visible{
    transform: translateX(0) !important;
    border-radius: .5rem;
}
.hidden{
    transform: translateX(150%) !important;
}

.user_header{
    padding: .5rem;
    margin: 0 auto;
    font-weight: 600; 
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 0.25rem;
    font-optical-sizing: auto;
    box-shadow: 0 0 .25rem #272727;
    font-family: "Chivo Mono", monospace;
   }
.user_info{
    font-family: "Chivo Mono", monospace !important;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 600; 
    margin-top: .5rem;
    padding: .5rem;
    transition: 500ms ease-in-out;
    box-shadow: 0 0 .25rem #272727;
    mat-card-actions{
        svg{
            width: 26px;
            height: 26px;
            transition: 200ms ease-in-out;            
            &:hover{
                transform: scale(1.1);
                fill: $bg;
            }
        }
    }
}
.user_header, .user_info{  
    background-color: rgba(255, 255, 255, 0.794);
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    height: 6vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    .name{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 1px;
    }
    .user_name{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 1px; 
    }
    .book_title{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .book_status{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .valide{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .role{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    mat-card-actions{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.demande_title{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-card-title{
        padding-left: 5.9rem;
        font-size: 1.2rem;
        font-family: "Chivo Mono", monospace;
        font-optical-sizing: auto;
        font-weight: bold;
    }
    mat-card-actions{
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            svg{
                width: 50px;
                height: 50px;
            }
        }
    }
}
.allUser_header{
    background-color: rgba(255, 255, 255, 0.794);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;   
    margin-right: auto;
    margin-left: auto;
    font-weight: 600; 
    font-size: 1rem;
    letter-spacing: 1px;
    font-optical-sizing: auto;
    box-shadow: 0 0 .25rem #272727;
    font-family: "Chivo Mono", monospace;cursor: pointer;
    border-radius: 0.25rem;
    height: 6vh;
    width: 90%;
    margin-top: .5rem;
    .lastName{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .firstName{
        width: 20%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .email{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h1{ 
            transform: translateY(25%);
            width: 50%;
            height: 100%;
            left: 0;
            font-family: "Chivo Mono", monospace !important;
            font-optical-sizing: auto;
            font-weight: 600; 
            font-size: 1rem;
        }
    }
    .role{
        width: 20%;
        text-align: right;
    }
}

@media  screen and (max-width: 1150px) {
    .content1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_title{
        width: 70% !important;
    }
    .menu_list{
        width: 10% !important;
    }
    .side_barre{
       width: 10% !important;
    }
    .demande{
       width: 90% !important;
       .content{
        width: 95% !important;
        height: 95% !important;
        .demande_title{
            width: 100% !important;
           mat-card-title{
                padding-left: 2rem;
           }
        }
        .allUser, .user_info, .user_header, .allUser_header{
            width: 95% !important;
            height: 8vh;
            font-size: .9rem !important;
        }
       }
    }
}
@media screen and (max-width: 767px) {
    svg{
        width: 20px !important;
        height: 20px !important;
    }
   .emprunt{
        width: 30px !important;
        height: 30px !important;
        &::before{
            z-index: -1 !important;
            position: absolute !important;
            content: '';
            width: 0;
            height: 0;
            background-color: $bg !important;
            border-radius: 50%;
            transition: 300ms;
        }
        &:hover::before{
            border-radius: 50%;
            width: 40px !important ;
            height: 40px !important;
        }
   }
    .header_title{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        width: 80% !important;
        font-size: 1.1rem !important;
    } 
    .pdp_admin{
       padding-right: 0!important;
       width: 10%;

    }
    .demande_title{
        mat-card-title{
            font-size: .9rem !important;
            padding-left: 1rem !important;
        }
    }
    .email{
        display: none !important;
    }
    .book_status{
        display: none !important;
    }
    .user_header, .user_info{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        .user_name{
            width: 25% !important;
            font-size: .7rem;
        }
        mat-card-actions{
            width: 10% !important;
        }
        .book_title{
            width: 50% !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem;
            font-size: .7rem;
        }
    }
    #title{
        font-size: .9rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .allUser_header {
            
            .firstName,  .lastName, .role{
                font-size: .7rem;
            }
    }
    .head{
        font-size: .9rem !important;
    }
}