<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" [formGroup]="bookForm">
        <div class="content1">
            <div class="input_container">
                <label for="title">Title of book</label>
                <input type="text" formControlName="title" id="title" class="input_class" placeholder="exemple Lala sy Noro">
            </div>
            <div class="input_container">
                <label for="author">Author of the book</label>
                <input type="text" formControlName="author" id="author" class="input_class" placeholder="exemple Robert-T">
            </div>
            <div class="input_container">
                <label for="publisher">Book's publisher</label>
                <input type="text" formControlName="publisher" id="publisher" class="input_class" placeholder="exemple HarperCollins">
            </div>
            <div class="description">
                <label for="description">Description</label>
                <textarea formControlName="description" id="description" cols="30" rows="10" placeholder="exemple c'est une livre qui..."></textarea>
            </div>
        </div>
        <div class="content2">
            <div class="input_container">
                <!-- <label for="category">Category</label>
                <input type="text" formControlName="category" id="category" class="input_class" placeholder="Enter category"> -->
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option value="Science-Fiction"> Science-Fiction </mat-option>
                        <mat-option value="Divertissement"> Divertissement </mat-option>
                        <mat-option value="Historique"> Historique </mat-option>
                        <mat-option value="Biography"> Biography </mat-option>
                        <mat-option value="Romance"> Romance </mat-option>
                        <mat-option value="Fantasy"> Fantasy </mat-option>
                        <mat-option value="Fiction"> Fiction </mat-option>
                        <mat-option value="Poésie"> Poésie </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input_container">
                <label for="publicationDAte">Publication date</label>
                <input type="date" formControlName="publicationDAte" id="publicationDAte" class="input_class" placeholder="Enter publicationDAte">
            </div>
            <div class="input_container">
                <label for="language">Language</label>
                <input type="text" formControlName="language" id="language" class="input_class" placeholder="Exemple Malagasy">
            </div>
            <div class="input_container">
                <label for="cover">Image cover</label>
                <input type="file" name="cover" id="cover" (change)="onSelectFile($event)">
            </div>
             <button mat-raised-button color="primary" (click)="onSubmit()"> Save </button>

       </div>
    </div>

</body>
</html>